.services__link {
   color: white;
   text-decoration: none;
}

i {
   font-size: 2rem;
}

.services__link:hover {
   color: #222;
}

.services__button {
   background-color: #222;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   height: 3rem;
   padding: 1rem 2.5rem;
   margin-top: 2rem;
}

.services__button:hover {
   background-color: #444;
   transition: 0.3s;
}