#header {
   background-color: whitesmoke;
}

.header__container {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.5rem;
   gap: 50px;
}

.header__warning {
   display: block;
   background-color: black;
   text-align: center;
   padding: 0.6rem;
}

.header__span {
   color: white;
}

.header__logo {
   width: 7.5rem;
}
