.servicos__link {
   color: white;
   text-decoration: none;
}

i {
   font-size: 2rem;
}

.servicos__link:hover {
   color: black;
}

.servicos__botao {
   background-color: black;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   height: 3rem;
   padding: 1rem 2.5rem;
   margin-top: 2rem;
}

.servicos__botao:hover {
   background-color: #bbb;
   transition-delay: 0.2s;
}