@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,300;0,400;0,800;1,800&family=Orelega+One&display=swap');

*{
   font-family: 'Newsreader', serif;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 15px;
   color: black;
}*

.titulo {
   font-size: 2rem;
   padding-bottom: 1rem;
   text-transform: uppercase;
}

.paragrafo {
   text-align: center;
   line-height: 1.5rem;
   padding: 0.7rem 0;
}

.container {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100vh;
}

.texto__container {
   width: 50%;
   padding: 5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: whitesmoke;
}

.imagem__container {
   width: 50%;
}

i {
   padding-left: 1rem;
}
:root {
   --cinza: #bbb;
   --cinza-claro: whitesmoke;
   --branco: #fff;
   --preto: #000;
}
