



.container-cabecalho {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

.nav-cabecalho {
    position: absolute;
    top: 50px;
    right: 0;
}

.nav-cabecalho li{
    display: inline;
    margin: 0 0 0 15px;
}

.nav-cabecalho a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

.nav-cabecalho a:hover {
    color: #C78C19;
    text-decoration: underline;
}

/*CAPA*/

.container-capa {
    width: auto;
}

.imagem-capa {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

/*SOBRE A BARBEARIA*/

#sobre {
    padding-top: 4em;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.titulo-padrao {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    font-family: 'Bebas Neue', cursive;
} 

.imagem-utensilios {
    width: 250px;
    height: 185px;
    float: left;
    margin: 0 25px 20px 0;
}

#sobre p {
    margin: 0 0 1em;
}

#sobre strong {
    font-weight: bold;
    font-style: italic;
}

/*ESTABELECIMENTO*/

#estabelecimento {
    padding: 4em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.paragrafo-padrao {
    margin: 0 200px 2em 200px;
    text-align: center;
}

.mapa-responsivo {
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}

.mapa-responsivo iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*BENEFICIOS*/

#beneficios {
    background: #888888;
}

.container-beneficios {
    margin: 0 200px;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    list-style: none;
}

.itens {
    line-height: 2.0;
}

.itens:before {
    content: "★ ";
}

.imagem-beneficios {
    width: 50%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px black;
    margin-bottom: 50px;
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

/*VENHA CONHECER*/

#videoApresentacao {
    padding-top: 50px;
}

.container-video {
    width: 560px;
    margin: auto;
    padding: 2em 0;
}

/*RODAPE*/


/* Css da página de Produtos*/


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    height: calc(100vh - 250px);
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-imagem {
    width: 200px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/* Página de Contato*/
    
.background-contato {
    position: absolute;
    width: 100%;
    opacity: 20%;
    object-fit: cover;
}

#formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.container-formulario {
    margin: 40px 0;
}

.margin-zero {
    margin: 0;
}

form label, legend {
    display: block;
    padding-bottom: 10px;
}

.subtitulo {
    font-size: 18px;
    padding-top: 15px;
}

.input-padrao{
    display: block;
    padding: 15px 20px;
    width: 100%;
    border: 2px solid #000;
    border-radius: 5px;
}

.border-none {
    border: none;
}

.selecao-estilo {
    width: 50%;
    padding: 10px;
    margin-top: 15px;
    border: 2px solid #000;
    border-radius: 6px;
}

.checkbox {
    margin: 10px 0px;
}

.container-atendimento {
    padding-top: 25px;
    text-align: center;
}

.enviar {
    width: 100%;
    padding: 20px;
    background: green;
    color: white;
    font-size: 17px;
    border: inherit;
    border-radius: 25px;
    transition: 1s all;
    cursor: pointer;
    margin-bottom: 50px;
}

.enviar:hover {
    background: #FF8C00;
    transform: scale(1.2);
    
}

.margin-bottom {
    margin-bottom: 25px;
}

.tabela-horario {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;

}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
    font-size: 22px;
}

/* Responsivo */

@media screen and (max-width: 480px) {

    .container-cabecalho, #sobre, .container-beneficios, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}
