/* Css da página de Produtos*/


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    height: calc(100vh - 250px);
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-imagem {
    width: 200px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/* Página de Contato*/

#formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background-color: #e2dada;
}

.container-formulario {
    margin: 40px 0;
}

.margin-zero {
    margin: 0;
}

form label, legend {
    display: block;
    padding-bottom: 10px;
}

.subtitulo {
    font-size: 18px;
    padding-top: 15px;
}

.input-padrao{
    display: block;
    padding: 15px 20px;
    width: 100%;
    border-radius: 2px;
    border: none;
}

.border-none {
    border: none;
}

.selecao-estilo {
    width: 50%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
}

.checkbox {
    margin: 10px 0px;
}

.container-atendimento {
    padding-top: 25px;
    text-align: center;
}

.enviar {
    width: 100%;
    padding: 20px;
    background: green;
    color: white;
    font-size: 17px;
    border: inherit;
    border-radius: 25px;
    transition: 1s all;
    cursor: pointer;
    margin-bottom: 50px;
}

.enviar:hover {
    background: #FF8C00;
    transform: scale(1.2);
    
}

.margin-bottom {
    margin-bottom: 25px;
}

.tabela-horario {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
    font-size: 17px;
}

/* Responsivo */

@media screen and (max-width: 480px) {

    .container-cabecalho, #sobre, .container-beneficios, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}
