.servicos__botao {
   background-color: black;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   height: 3rem;
   width: 10rem;
}

.servicos__botao:hover {
   background-color: #bbb;
   transition-delay: 0.2s;
}